div(
  class="fixed inset-0 flex items-center justify-center bg-stone-600/20 dark:bg-black/50 z-20 p-6 modal-backdrop"
  x-show="$store.modalStore.addMembersModalIsOpen"
  @click.self="$store.modalStore.handleAddMembersModal($refs.newDivvyModal)"
)
  div(
    class="rounded-lg shadow-lg p-6 w-full max-w-lg modal-body"
    x-trap="$store.modalStore.addMembersModalIsOpen"
    )
    div(class="flex justify-between items-center border-b dark:border-neutral-700 pb-3 mb-4")
      h3(class="text-lg font-medium") Add members
      button(
        class="modal-top-close-btn"
        @click="$store.modalStore.handleAddMembersModal($refs.newDivvyModal)"
      )
        include icons/x
    p(class="mb-4 text-sm") Please enter the name of the new participating member
    form(
      class="flex-col flex md:flex-row gap-4"
      @submit.prevent="$store.dvStore.handleAddMemberFormSubmit($refs.memberInput)"
      )
      input(
        type="text"
        class="modal-input flex-1"
        placeholder="Enter name"
        required
        autofocus
        x-ref="memberInput"
      )
      button(class="btn-primary") Add to members