div(
  class="fixed inset-0 flex items-center justify-center bg-stone-600/10 dark:bg-black/20 z-10 p-6 modal-backdrop"
  x-show="$store.modalStore.newDivvyModalIsOpen"
)
  div(
    class="rounded-lg shadow-lg p-6 w-full max-w-screen-sm xl:max-w-screen-lg dark:text-white " +
    "modal-body transition-transform duration-500 ease-out"
    x-trap.noscroll="$store.modalStore.newDivvyModalIsOpen"
    x-show="$store.modalStore.newDivvyModalBodyOnly"
    x-ref="newDivvyModal"
  )
    div(class="flex justify-between items-center border-b dark:border-neutral-700 pb-3 mb-4")
      h3(class="text-lg font-medium") Create Divvy
      button(
        class="modal-top-close-btn"
        @click="$store.modalStore.handleNewDivvyModal()"
      )
        include icons/x
    div(class="mb-4")
      div(class="flex flex-col gap-y-4")
        label(class="flex flex-col gap-y-1")
          span(class="text-sm") Divvy name
          input(
            type="text"
            class="modal-input"
            x-model="$store.dvStore.divvyTitle"
            autofocus
          )
        div(class="flex gap-x-4")
          button(
            class="btn btn-primary w-full"
            @click="$store.modalStore.handleAddMembersModal($refs.newDivvyModal)"
          ) Add members
          button(
            class="btn btn-primary w-full"
            @click="$store.modalStore.handleAddExpensesModal($refs.newDivvyModal)"
          ) Add expenses
        div(x-data="{showMembers: true}" class="xl:hidden")
          div(class="p-2 rounded-md bg-stone-100 border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700")
            div(class="flex")
              button(
                class="btn w-full rounded-r-none border border-gray-200 dark:border-neutral-700 border-r-0"
                :class="showMembers? 'bg-white dark:bg-neutral-700': 'bg-neutral-300 dark:bg-neutral-800'"
                @click="showMembers = true"
              ) Members
              button(
                class="btn w-full rounded-l-none border border-gray-200 dark:border-neutral-700 border-l-0"
                :class="showMembers? 'bg-neutral-300 dark:bg-neutral-800': 'bg-white dark:bg-neutral-700'"
                @click="showMembers = false"
              ) Expenses
            div(class="mt-4 p-2 h-64 lg:h-96 overflow-y-auto")
              div(x-show="showMembers")
                include members-list
              div(x-show="!showMembers")
                include expenses-list
        div(class="hidden xl:block")
          div(class="grid grid-cols-2 gap-x-4")
            div(class="h-96 overflow-y-auto")
              include members-list
            div(class="h-96 overflow-y-auto")
              include expenses-list
    div(class="flex gap-3 mb-4")
      button(
        class="btn-primary w-full"
        :disabled="!$store.dvStore.divvyIsValidForEvenSplit()"
        :class="{'btn-active': $store.dvStore.divvyIsValidForEvenSplit()}"
        @click="$store.dvStore.handleSplitEvenly()"
      ) Split Evenly
      button(
        class="btn-primary w-full"
        :disabled="!$store.dvStore.divvyIsValidForDivvyUp()"
        :class="{'btn-active': $store.dvStore.divvyIsValidForDivvyUp()}"
        @click="$store.modalStore.handleDivvyUpAssignModal($refs.newDivvyModal)"
      ) Divvy Up
    div(class="flex gap-3")
      button(class="btn-secondary mr-auto" @click="$store.dvStore.resetDivvy()") Reset
      button(
        class="btn-secondary"
        @click="$store.modalStore.handleNewDivvyModal()"
      ) Cancel
include add-member-modal
include add-expense-modal
include split-results-modal
include divvy-assign-modal
include divvyup-results-modal
