div(
  class="fixed inset-0 flex items-center justify-center bg-black/10 z-10 p-6 modal-backdrop"
  x-show="$store.modalStore.newDivvyModalIsOpen"
)
  div(
    class="bg-white rounded-lg shadow-lg p-6 w-full max-w-screen-sm xl:max-w-screen-lg " +
    "modal-body transition-transform duration-500 ease-out"
    x-trap.noscroll="$store.modalStore.newDivvyModalIsOpen"
    x-show="$store.modalStore.newDivvyModalBodyOnly"
    x-ref="newDivvyModal"
  )
    div(class="flex justify-between items-center border-b pb-3 mb-4")
      h3(class="text-lg font-medium") Create Divvy
      button(
        class="text-gray-500 hover:text-gray-800"
        @click="$store.modalStore.handleNewDivvyModal()"
      )
        include icons/x
    div(class="mb-4")
      div(class="flex flex-col gap-y-4")
        label(class="flex flex-col gap-y-1")
          span(class="text-sm md:text-base") Divvy name
          input(
            type="text"
            class="border border-gray-200 px-2 py-1 md:py-2 rounded-md"
            x-model="$store.dvStore.divvyTitle"
            autofocus
          )
        div(class="flex gap-x-4")
          button(
            class="btn border w-full bg-black text-white"
            @click="$store.modalStore.handleAddMembersModal($refs.newDivvyModal)"
          ) Add members
          button(
            class="btn border w-full bg-black text-white"
            @click="$store.modalStore.handleAddExpensesModal($refs.newDivvyModal)"
          ) Add expenses
        div(x-data="{showMembers: true}")
          div(class="p-2 rounded-md bg-gray-50 border border-gray-200")
            div(class="flex")
              button(
                class="btn w-full rounded-r-none border border-gray-200 border-r-0"
                :class="showMembers? 'bg-white': 'bg-gray-200'"
                @click="showMembers = true"
              ) Members
              button(
                class="btn w-full rounded-l-none border border-gray-200 border-l-0"
                :class="showMembers? 'bg-gray-200': 'bg-white'"
                @click="showMembers = false"
              ) Expenses
            div(class="mt-4 p-2 h-64 lg:h-96 overflow-y-auto")
              div(x-show="showMembers")
                template(x-if="!$store.dvStore.divvyMembers.length > 0")
                  p No members yet. Try adding some.
                template(x-if="$store.dvStore.divvyMembers.length > 0")
                  ul(class="flex flex-col gap-y-2")
                    template(x-for="(member,index) in $store.dvStore.divvyMembers")
                      li(
                        class="flex justify-between items-center pb-2 border-b border-gray-200 " +
                        "last-of-type:border-none animated-li"
                        :style="`animation-delay: ${index * 50}ms`"
                      )
                        span(x-text="member.name")
                        button(class="btn-secondary px-2" @click="$store.dvStore.removeMember(member.id)")
                          include icons/trash
              div(x-show="!showMembers")
                template(x-if="!$store.dvStore.divvyExpenses.length > 0")
                  p No expenses yet. Try adding some.
                template(x-if="$store.dvStore.divvyExpenses.length > 0")
                  ul(class="flex flex-col gap-y-2")
                    template(x-for="(expense,index) in $store.dvStore.divvyExpenses")
                      li(
                        class="flex items-center pb-2 border-b border-gray-200 " +
                        "last-of-type:border-none animated-li"
                        :style="`animation-delay: ${index * 50}ms`"
                      )
                        span(x-text="expense.name")
                        span(x-text="`$${expense.amount}`" class="ml-auto mr-6")
                        button(class="btn-secondary px-2" @click="$store.dvStore.removeExpense(expense.id)")
                          include icons/trash
    div(class="flex gap-3 mb-4")
      button(
        class="btn-primary w-full disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed"
        :disabled="!$store.dvStore.divvyIsValidForEvenSplit()"
        :class="{'btn-active': $store.dvStore.divvyIsValidForEvenSplit()}"
        @click="$store.dvStore.handleSplitEvenly()"
      ) Split Evenly
      button(
        class="btn-primary w-full disabled:bg-gray-200 disabled:text-gray-500 disabled:cursor-not-allowed"
        :disabled="!$store.dvStore.divvyIsValidForDivvyUp()"
        :class="{'btn-active': $store.dvStore.divvyIsValidForDivvyUp()}"
        @click="$store.dvStore.handleDivvyUp()"
      ) Divvy Up
    div(class="flex gap-3")
      button(class="btn-secondary mr-auto") Reset
      button(
        class="btn-secondary"
        @click="$store.modalStore.handleNewDivvyModal()"
      ) Cancel
include add-member-modal
include add-expense-modal
include split-results-modal
